<section>
  <h2>Create your own room</h2>
  <form action="/create-room" method="POST"> 
    <label class="sr-only" for="room-pass">Room code</label>
    <input type="password" name="password" id="room-pass" placeholder="Enter a password">
    <button>
     <img src="/images/users.svg" alt="Create room" class="users-white">
    	Create room 
    </button>
  </form>
</section>
